<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - {{ web_title }}</title>
    {% block stylesfirst %}{% endblock %}
    <link rel="stylesheet" href="assets/scss/app.scss" />
    <link rel="stylesheet" href="assets/scss/themes/dark/app-dark.scss" />
    <link
      rel="shortcut icon"
      href="assets/static/images/logo/favicon.svg"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="assets/static/images/logo/favicon.png"
      type="image/png"
    />
    {% block styles %}{% endblock %}
  </head>

  <body>
    <!-- <script src="assets/static/js/initTheme.js"></script> -->
    <div id="app">
      <div id="sidebar">{% include "src/layouts/sidebar.html" %}</div>
      <div id="main">
        <header id="header" class="bg-white px-4 py-3">
          <div
            class="container-fluid d-flex justify-content-between align-items-center"
          >
            <a href="#" class="burger-btn d-block">
              <i class="bi bi-justify fs-3"></i>
            </a>
            <div class="dropdown">
              <a
                class="d-flex align-items-center text-decoration-none"
                href="#"
                id="adminProfileDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <div class="text-end me-3">
                  <h6 class="font-bold m-0">John Doe</h6>
                </div>
                <div class="avatar avatar-lg bg-warning me-2">
                  <img src="assets/static/images/faces/2.jpg" />
                </div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-chevron-down"
                >
                  <polyline
                    points="6 9 12 15 18 9"
                    style="fill: none; stroke-width: 2"
                  ></polyline>
                </svg>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="adminProfileDropdown"
              >
                <li>
                  <a class="dropdown-item" href="./account-profile.html"
                    >Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="./account-security.html"
                    >Settings</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="./auth-login.html">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </header>
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>
        <div id="content-wrapper">
          {% block content %}{% endblock %} {% include
          '../partials/footer.html'%}
        </div>
      </div>
    </div>
    <!-- <script src="assets/static/js/components/dark.js"></script> -->
    <script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    {% if isDev %}
    <script src="assets/js/app.js" type="module"></script>
    {% else %}
    <script src="assets/compiled/js/app.js"></script>
    {% endif %} {% block js %}{% endblock %}
  </body>
</html>
