<div class="sidebar-wrapper active">
  <div class="sidebar-header position-relative">
    <div class="d-flex justify-content-center align-items-center">
      <div class="logo">
        <a href="index.html"
          ><img src="assets/static/images/logo/logo.svg" alt="Logo" srcset=""
        /></a>
      </div>
      <div class="sidebar-toggler x">
        <a href="#" class="sidebar-hide d-xl-none d-block"
          ><i class="bi bi-x bi-middle"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="sidebar-menu">
    <ul class="menu">
      {% for sidebarItem in sidebarItems %}{% if sidebarItem.isTitle %}
      <li class="sidebar-title">{{sidebarItem.name}}</li>
      {% else %}
      <li
        class="sidebar-item {{ 'active' if (sidebarItem.url == filename or filename|startsWith(sidebarItem.key)) }} {{'has-sub' if sidebarItem.submenu.length > 0 }}"
      >
        <a
          href="{{sidebarItem.url if sidebarItem.url!==undefined else '#'}}"
          class="sidebar-link"
        >
          <i class="bi bi-{{ sidebarItem.icon }}"></i>
          <span>{{sidebarItem.name}}</span>
        </a>
        {% if sidebarItem.submenu.length > 0 %}
        <ul
          class="submenu {{ 'active' if (sub.url == filename or filename|startsWith(sidebarItem.key)) }}"
        >
          {% for sub in sidebarItem.submenu %}
          <li
            class="submenu-item {{ 'active' if sub.url == filename or filename|startsWith(sub.key) }} {{'has-sub' if sub.submenu.length > 0 }}"
          >
            <a href="{{ sub.url }}" class="submenu-link">{{ sub.name }}</a>
            {% if sub.submenu.length > 0 %}
            <ul class="submenu submenu-level-2">
              {% for subsub in sub.submenu %}
              <li class="submenu-item {{ 'active' if subsub.url == filename }}">
                <a href="{{ subsub.url }}" class="submenu-link"
                  >{{ subsub.name }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endif %}{% endfor %}
    </ul>
  </div>
</div>
